$themes: (
	light: (
		text: #080807,
		background: #f7f8f6,
		primary: #98e069,
		secondary: #afbebb,
		accent: #94a6a9,
	),
	dark: (
		text: #f8f8f7,
		background: #080907,
		primary: #4d941e,
		secondary: #404f4c,
		accent: #56686c,
	),
);

// Accessing the text color for the light theme
$light-text-color: map-get(map-get($themes, light), text);

// Accessing the text color for the dark theme
$dark-text-color: map-get(map-get($themes, dark), text);
